@{
    ViewData["Title"] = "Accueil : Liste des tâches";
}
@model List<Todo>

<div class="text-center">
    <h2 class="display-4">ToDo List</h2>
</div>

<table class="table table-striped table-dark table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">@Html.DisplayNameForInnerType((Todo todo)  => todo.Name)</th>
            <th scope="col">@Html.DisplayNameForInnerType((Todo todo)  => todo.Description)</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var todo in Model)
        {
            <tr>
                <th scope="row">@todo.Id</th>
                <td>@todo.Name</td>
                <td>@todo.Description</td>
                <td>
                    @if (todo.Checked == false)
                    {
                        <a asp-action="Check" asp-route-id="@todo.Id" class="btn btn-outline-success ">Check</a>
                    }
                    else
                    {
                        <a asp-action="Check" asp-route-id="@todo.Id" class="btn btn-success ">Check</a>
                    }

                    @if (todo.Checked == false)
                    {
                        <a asp-action="Delete" asp-route-id="@todo.Id" class="btn btn-outline-warning disabled ">To Do</a>
                    }
                    else
                    {
                        <a asp-action="Delete" asp-route-id="@todo.Id" class="btn btn-warning">Ended</a>
                    }

                    <a asp-action="Delete" asp-route-id="@todo.Id" type="button" class="btn btn-outline-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
                        </svg>
                    </a>
                    
                </td>
            </tr>
        }

    </tbody>
</table>

<a asp-action="AfficherFormulaire" class="btn btn-dark">Créer une nouvelle tâche avec le formulaire</a>
